<div id="sidebar-wrapper">
    <aside id="sidebar">
        <ul id="sidemenu" class="sidebar-nav">
            <div>
                <a class="navbar-brand a1" href="#">POMARROSA</a>
            </div>
            <li>
                <a href="#">
                    <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                    <span class="sidebar-title">Home</span>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                    <span class="sidebar-icon"><i class="fa fa-users"></i></span>
                    <span class="sidebar-title">Management</span>
                    <b class="caret"></b>
                </a>
            </li>
            <li>
                <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                    <span class="sidebar-icon"><i class="fa fa-newspaper-o"></i></span>
                    <span class="sidebar-title">Blog</span>
                    <b class="caret"></b>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-icon"><i class="fa fa-database"></i></span>
                    <span class="sidebar-title">Data</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="sidebar-icon"><i class="fa fa-terminal"></i></span>
                    <span class="sidebar-title">Console</span>
                </a>
            </li>
        </ul>
    </aside>            
</div>