.bgdani{
  background: rgb(190,112,6);
  background: linear-gradient(90deg, rgba(190,112,6,0.05085784313725494) 60%, rgba(190,112,6,0.6110819327731092) 100%);
}

.fontnav{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


.space{
  width: 100%;
}