<nav class="navbar navbar-expand-lg bgdani">
  <a class="navbar-brand a1" href="#">POMARROSA</a> 
    <button class="navbar-toggler" type="button" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <img src="#">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="space"></div>
    
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link fontnav" href="#">Inicio</a>
        <a class="nav-item nav-link fontnav" href="">Tienda</a>
        <a class="nav-item nav-link fontnav" href="#">Contacto</a>
      </div>
    </div> -->
    <div><form class="form-inline">
        <input class="form-control" type="search" placeholder="search" aria-label="search">
      </form>
    </div>
  </nav>